---
import { faq } from "../../data/faq";
---

<section class="py-20 max-w-3xl mx-auto px-6">

  <h2 class="text-3xl font-bold mb-10 text-center">Questions fréquentes</h2>

  <div class="space-y-6">

    {faq.map((item) => (
      <details class="border p-4 rounded-lg">
        <summary class="cursor-pointer font-medium">
          {item.q}
        </summary>
        <p class="mt-2 text-stone-600">{item.a}</p>
      </details>
    ))}

  </div>

</section>