---
import Seo from '../components/layout/Seo.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import "../styles/global.css";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='fr'>
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <Seo title={title} description={description} />
</head>

<body class='bg-white text-gray-900'>
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>
